.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding-top: 130px;
  padding-bottom: 30px;
}

.category button {
  width: 192px;
  height: 62px;
  border: 1px solid #000;
  color: #000;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.34px;
}

@media (max-width: 1200px) {
  .category {
    padding-top: 20px;
  }
}

@media (max-width: 700px) {
  .category {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .category button{
    width: 150px;
    height: 50px;
  }
}
